#saludo{
    font-family:fantasy;
    text-align: center;
    background: #21c2c2;
    width: 500px;
    display: block;
    padding: 30px;
    margin-left: 400px;
}

body{
    background-color: burlywood;
}

#btn_on{
    height: 100px;
    width: 100px;
    background-color: rgb(128, 223, 215);
    font-family: cursive;
}

#btn_on:focus{
    border-color:white;
    color: white;
    transition-duration: 2ms;
}

.screen{
    background-color: white;
    padding: 30px;
}
.boton{
    height: 100px;
    width: 100px;
    margin-left: 12px;
}

.cal_content{
    background-color: black;
    display: block;
    margin-left: 480px;
    border-style:ridge;
    border-radius: 12px;
    border-color: black;
    width:30%;
    

}

.content-bton{
    margin: 15px;
}