#saludo{
    font-family:fantasy;
    text-align: center;
    background: #21c2c2;
    width: 500px;
    display: block;
    padding: 30px;
    margin-left: 400px;
}

body{
    background-color: burlywood;
}

#btn_on{
    height: 100px;
    width: 100px;
    background-color: rgb(128, 223, 215);
    font-family: cursive;
}

#btn_on:focus{
    border-color:white;
    color: white;
    transition-duration: 2ms;
}

.screen{
    background-color: white;
    padding: 30px;
    width: 444px;
    margin: 12px;
    border-style: ridge;
    border-radius: 15px;
    border-color: beige;

}
.boton{
    height: 100px;
    width: 100px;
    margin-left: 12px;
    border-style: ridge;
    border-radius: 30px;
}

.boton:hover{
    border-color: aliceblue;
}

.cal_content{
    background-color: black;
    display: block;
    margin-left: 400px;
    border-style:ridge;
    border-radius: 40px;
    border-color: black;
    width:40%;
    height: 20%;
    

}

.content-bton{
    margin: 15px;
    border-style: ridge;
    border-radius: 30px;

}

b1{
    color: red;
}

.screen{
    font-size: 35px;
    font-family: monospace;
    background-color: rgb(80, 255, 74);
}